<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.book.mapper.OAuthMapper">

    <select id="findByEmail" parameterType="String" resultType="com.example.book.domain.OAuthMember">
        select * from member where email = #{email}
    </select>

    <insert id="insertMember" parameterType="com.example.book.domain.OAuthMember" useGeneratedKeys="true" keyProperty="id">
        insert into member (email, nickname, profile_image_url) values (#{email}, #{nickname}, #{profileImageUrl});
    </insert>

</mapper>